<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"  
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" 
     xmlns:http="http://schemas.microsoft.com/wix/HttpExtension"
     xmlns:firewall="http://schemas.microsoft.com/wix/FirewallExtension">

	<Product Id="*" Name="Phaka Selenium Node" Language="1033" Version="1.0.1.0" Manufacturer="Phaka" UpgradeCode="776358eb-d547-4b25-b4f6-5e364ff8e109">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<Condition Message="You need to be an administrator to install this product.">Privileged</Condition>
		<Condition Message="Windows 7 or Windows Server 2008 R2 or higher is required"><![CDATA[Installed OR VersionNT >= 601]]></Condition>

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
		<Property Id="SELENIUM_SERVICE_USERNAME" Value="selenium-node" />
		<Property Id="SELENIUM_SERVICE_USERNAME_VALID" Value="0" />
		<Property Id="SELENIUM_SERVICE_PASSWORD" Value=" " Secure="yes" />
		<Property Id="SELENIUM_SERVICE_PASSWORD_VALID" Value="0" />
		<Property Id="SELENIUM_PORT" Value="5555" />
		<Property Id="SELENIUM_PORT_VALID" Value="0" />
		<Property Id="SELENIUM_HUB_BASEURL" Value="http://localhost:4444/" />
		<Property Id="SELENIUM_HUB_BASEURL_VALID" Value="0" />
		<Property Id="SELENIUM_ROLE" Value="Node" Hidden="yes" />


		<!--
		https://www.firegiant.com/wix/tutorial/user-interface/ui-wizardry/
    -->
		<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
		<!--
    <WixVariable Id="WixUIBannerBmp" Value="path\banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="path\dialog.bmp" />
		<WixVariable Id="WixUIExclamationIco" Value="path\exclamation.ico" />
		<WixVariable Id="WixUIInfoIco" Value="path\information.ico" />
		<WixVariable Id="WixUINewIco" Value="path\new.ico" />
		<WixVariable Id="WixUIUpIco" Value="path\up.ico" />
		-->

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />
		<MediaTemplate EmbedCab="yes"  CompressionLevel="high" />
		
		<Feature Id="ProductFeature" Title="Selenium Node" Level="1" Display="expand" Description="Installs a Selenium node on the local machine.">
			<ComponentRef Id="CL_selenium.exe" />
			<ComponentRef Id="CL_selenium.jar" />
			<ComponentRef Id="CL_chromedriver.exe" />
			<ComponentRef Id="CL_geckodriver.exe" />
			<ComponentRef Id="CL_IEDriverServer.exe" />
			<ComponentRef Id="CL_operadriver.exe" />
		</Feature>

		<UI Id="MyWixUI_Mondo">
			<UIRef Id="WixUI_Mondo" />
			<DialogRef Id="PasswordDlg" />
			<DialogRef Id="PortDlg" />
			<DialogRef Id="UrlDlg" />

			<Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="PasswordDlg" Order="2">LicenseAccepted = "1"</Publish>
			<Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="UrlDlg">1</Publish>
			<Publish Dialog="PasswordDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
			<Publish Dialog="PasswordDlg" Control="Next" Event="NewDialog" Value="PortDlg" Order="100">SELENIUM_SERVICE_USERNAME_VALID = "1" AND SELENIUM_SERVICE_PASSWORD_VALID = "1"</Publish>
			<Publish Dialog="PortDlg" Control="Back" Event="NewDialog" Value="PasswordDlg">1</Publish>
			<Publish Dialog="PortDlg" Control="Next" Event="NewDialog" Value="UrlDlg" Order="100">SELENIUM_PORT_VALID = "1"</Publish>
			<Publish Dialog="UrlDlg" Control="Back" Event="NewDialog" Value="PortDlg">1</Publish>
			<Publish Dialog="UrlDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg" Order="100">SELENIUM_HUB_BASEURL_VALID = "1"</Publish>

		</UI>
		<UIRef Id="WixUI_ErrorProgressText" />

		<Binary Id="PhakaCustomActions.CA.dll" SourceFile="$(var.CustomActions.TargetDir)\PhakaCustomActions.CA.dll" />

		<CustomAction Id="ValidateUsername"
		              Return="check"
		              Execute="immediate"
		              BinaryKey="PhakaCustomActions.CA.dll"
		              DllEntry="ValidateUsername" />

		<CustomAction Id="ValidatePassword"
		              Return="check"
		              Execute="immediate"
		              BinaryKey="PhakaCustomActions.CA.dll"
		              DllEntry="ValidatePassword" />

		<CustomAction Id="ValidatePortNumber"
		              Return="check"
		              Execute="immediate"
		              BinaryKey="PhakaCustomActions.CA.dll"
		              DllEntry="ValidatePortNumber" />

		<CustomAction Id="ValidateUrl"
		              Return="check"
		              Execute="immediate"
		              BinaryKey="PhakaCustomActions.CA.dll"
		              DllEntry="ValidateUrl" />

		<CustomAction Id="TestUrl"
		              Return="check"
		              Execute="immediate"
		              BinaryKey="PhakaCustomActions.CA.dll"
		              DllEntry="TestUrl" />

		<CustomAction Id="GeneratePassword"
		              Return="check"
		              Execute="firstSequence"
		              BinaryKey="PhakaCustomActions.CA.dll"
		              DllEntry="GeneratePassword" />

		<InstallUISequence>
			<Custom Action="GeneratePassword" After="AppSearch">1</Custom>
		</InstallUISequence>
		<InstallExecuteSequence>
			<Custom Action="GeneratePassword" After="AppSearch">1</Custom>
		</InstallExecuteSequence>

	</Product>

	<!-- 
	We'd like to makesure we kill all the web drivers when we install or 
	uninstall. For some reason they sometimes hang around and become orphans. 
	Can't really ask the user to kill 100s of those processes.
	
	We're giving the web drivers ample time to quit, rather than the normal 5 seconds.
	-->
	<Fragment>
		<util:CloseApplication Id="CloseOperaWebDriver" Timeout="30" Target="operadriver.exe"/>
		<util:CloseApplication Id="CloseInternetExplorerWebDriver" Timeout="30" Target="IEDriverServer.exe"/>
		<util:CloseApplication Id="CloseChromeWebDriver" Timeout="30" Target="chromedriver.exe"/>
		<util:CloseApplication Id="CloseGeckoWebDriver" Timeout="30" Target="geckodriver.exe"/>
	</Fragment>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id='MANUFACTURERFOLDER' Name='Selenium'>
					<Directory Id="INSTALLFOLDER" Name="Node">
						<Component Id='CL_selenium.exe'>

							<!-- See https://github.com/Phaka/phaka-service-wrapper for more information about wrapper.exe -->
							<File Id='FL_Selenium.exe'
                    Name='selenium-node.exe'
                    DiskId='1'
                    Source='..\..\lib\x64\wrapper\wrapper.exe'
                    KeyPath='yes' />

							<!-- The  IniFile custom action will not create the file, so we need to do it. Be careful of encodings, since Windows refuses to read a INI file with a UTF-8 encoding with a BOM -->
							<File Id='FL_selenium.cfg' Name='selenium-node.cfg' DiskId='1' Source='wrapper.ini' />

							<!-- The selenium.json is the configuration for the node itself, not the Windows Service-->
							<File Id='FL_selenium.json' Name='selenium.json' DiskId='1' Source='selenium.json' />

							<!-- Just in case the user overwrote the port number, let's make sure it is reflected in the configuration file -->
							<IniFile Id="WriteCommandLine"
                       Action="addLine"
                       Directory="INSTALLFOLDER"
                       Key="CommandLine"
                       Name="selenium-node.cfg"
                       Section="Unit"
                       Value='java -Xrs -Xmx2048m &quot;-Dwebdriver.chrome.driver=[#FL_chromedriver.exe]&quot; &quot;-Dwebdriver.gecko.driver=[#FL_geckodriver.exe]&quot; &quot;-Dwebdriver.opera.driver=[#FL_operadriver.exe]&quot; &quot;-Dwebdriver.opera.driver=[#FL_operadriver.exe]&quot;  -jar &quot;[#FL_selenium.jar]&quot; -role node -port [SELENIUM_PORT] -hub [SELENIUM_HUB_BASEURL] -nodeConfig &quot;[#FL_selenium.json]&quot;' />

							<!-- The service accounts needs permissions to this directory -->
							<CreateFolder>
								<util:PermissionEx User='[SELENIUM_SERVICE_USERNAME]'
                                   GenericExecute='yes'
                                   GenericRead='yes'
                                   GenericWrite='yes' />
							</CreateFolder>

							<!-- Ensure that we preserve the URL so that Windows doesn't accidentially use this port when assigning random client ports -->
							<http:UrlReservation Url="http://+:[SELENIUM_PORT]/" HandleExisting="ignore">
								<http:UrlAce SecurityPrincipal="Everyone" Rights="all" />
							</http:UrlReservation>

							<!-- We need to clean up after ourselves -->
							<RemoveFile Id='RemoveConfigurationFile'
                          On='uninstall'
                          Name='selenium-node.cfg' />
							<RemoveFile Id='RemoveLogFile'
                          On='uninstall'
                          Name='selenium-node.log' />


							<!-- 
              Ensure the firewall will allow traffic. Unfortunally we can't 
              deny public traffic since the extension does not support it. 
              Instead of creating an "all" rule, we'll create the public
              rule and allow the user to deny the rule. 
              
              The public rule is considered dangerous if someone was to 
              install the node on their local computers and they then visit
              the local coffee shop. Anyone in the coffee shop will be able 
              to connect to the Selenium node and if there are vulnerabilities
              potentially exploit it. 
              
              But allowing "public" traffic should be ok within the confounds
              of a corporate network where security devices restrict access.
              -->
							<firewall:FirewallException Id="FW_Domain"
                                           Description="Allows connections from the Selenium hub to the Selenium node in order to perform browser based testing."
                                           Name="Phaka Selenium Node (Domain: Tcp-In)"
                                           Port="[SELENIUM_PORT]"
                                           Profile="domain"
                                           Scope="any"
                                           Protocol="tcp" />

							<firewall:FirewallException Id="FW_Private"
                                          Description="Allows connections from the Selenium hub to the Selenium node in order to perform browser based testing."
                                          Name="Phaka Selenium Node (Private: Tcp-In)"
                                          Port="[SELENIUM_PORT]"
                                          Profile="private"
                                          Scope="any"
                                          Protocol="tcp" />

							<!-- TODO: We need to create, but deny this rule -->
							<firewall:FirewallException Id="FW_Public"
                                          Description="Allows connections from the Selenium hub to the Selenium node in order to perform browser based testing."
                                          Name="Phaka Selenium Node (Public: Tcp-In)"
                                          Port="[SELENIUM_PORT]"
                                          Profile="public"
                                          Scope="any"
                                          Protocol="tcp" />

							<!-- 
							Create a user for the Windows Service. It is a really bad idea to run 
							Selenium as Local System, because if its compromised, so is the host 
							and all the data in it.
							
							If this is a domain user and the process is compromised, then the 
							attacker may be able to connect to Windows Active Directory and 
							mine it for information which could in turn be used to compromise
							the organization.
							-->
							<util:User Id="SeleniumUser"
                         UpdateIfExists="yes"
                         CreateUser="yes"
                         Name="[SELENIUM_SERVICE_USERNAME]"
                         Password="[SELENIUM_SERVICE_PASSWORD]"
                         LogonAsService="yes"
                         CanNotChangePassword="yes"
                         PasswordNeverExpires="yes" />

							<!-- 
              Run Selenium as a Windows Service using the local user we created. 
              -->
							<ServiceInstall Id="ServiceInstaller"
                              Type="ownProcess"
                              Name="phaka-selenium-node"
                              DisplayName="Phaka Selenium Node"
                              Description="Manages the Selenium node process that is used for browser testing"
                              Start="auto"
                              Account=".\[SELENIUM_SERVICE_USERNAME]"
                              Password="[SELENIUM_SERVICE_PASSWORD]"
                              ErrorControl="normal">

								<!-- If the system crashes for whatever reason, just restart it. -->
								<util:ServiceConfig FirstFailureActionType="restart"
                                    SecondFailureActionType="restart"
                                    ThirdFailureActionType="restart"
                                    RestartServiceDelayInSeconds="180"
                                    ResetPeriodInDays="7"
                                    RebootMessage="The Selenium Node experienced issues and initiated a reboot" />
							</ServiceInstall>

							<!-- Automatically Start the Selenium service when we're done -->
							<ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="phaka-selenium-node" Wait="yes" />

						</Component>
						<Component Id='CL_selenium.jar'>
							<File Id='FL_selenium.jar' Name='selenium-server-standalone.jar' DiskId='1' Source='..\..\lib\selenium-server-standalone.jar' KeyPath='yes' />
						</Component>
						<Component Id='CL_chromedriver.exe'>
							<File Id='FL_chromedriver.exe' Name='chromedriver.exe' DiskId='1' Source='..\..\lib\x86\chrome\chromedriver.exe' KeyPath='yes' />
						</Component>
						<Component Id='CL_geckodriver.exe'>
							<File Id='FL_geckodriver.exe' Name='geckodriver.exe' DiskId='1' Source='..\..\lib\x86\gecko\geckodriver.exe' KeyPath='yes' />
						</Component>
						<Component Id='CL_IEDriverServer.exe'>
							<File Id='FL_IEDriverServer.exe' Name='IEDriverServer.exe' DiskId='1' Source='..\..\lib\x86\internet-explorer\IEDriverServer.exe' KeyPath='yes' />
						</Component>
						<Component Id='CL_operadriver.exe'>
							<File Id='FL_operadriver.exe' Name='operadriver.exe' DiskId='1' Source='..\..\lib\x86\opera\operadriver.exe' KeyPath='yes' />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>
</Wix>
